/* https://www.happyhues.co/palettes/6 */

* {
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
}
html{
	height: 100%;
	width: 100%;
	background-color: #fffffe;
}
body.wejscie{
	height: 100%;
	margin: 0 auto;
	background: url(wejscie-cover.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	justify-self: center;
	align-self: center;
}
body.glowna{
	margin: 0 10vw;
	min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1{
	color: #2b2c34;	
	font-size: 3rem;
}



/*img:hover {
	transform: scale(1.1);
}*/
.col {
	background-color: gray;
	border: 2px solid black;
}
.btn {
	font-weight: 700;
	border-radius: 300px;
	border-color: #5D2971
}
.btn-xl {
	color: #fffffe ;
	border-color: #6246ea;
	background-color: #6246ea;
	padding: 1rem 4rem;
}
.btn-xl:hover {
	color: #6246ea;
	background-color:#d1d1e9;
	border-color: #d1d1e9;
}

hr {
	margin-top: -10px;
	border-color: #d1d1e9;
	border-width: 3px;
	max-width: 500px;
}

header.glowny-header {
	background: none;
}

section#blocks {
	background: #FFD1AA;
}

/*###################################################*/

/*NAVBAR*/
/*###################################################*/

.navbar-custom{
	background-color: #fffffe;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #2b2c34;
}
/* change the link color and padding  */
.navbar-custom .navbar-nav .nav-link {
    color: #2b2c34;
    padding: .75rem 1rem;
}



/*###################################################*/

/*Cover*/
/*###################################################*/

#cover{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
	background: #fffffe;
	background: url(glowna-cover.jpg);
	background-repeat: no-repeat;
	background-position: center;

}


/*###################################################*/
/*Blocks*/
/*###################################################*/

.blocks {
	background: #fffffe;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
	grid-gap: 20px;

}
.block {
	background-color: #d1d1e9;
	padding: 30px;
	margin: 20px;
}
.block > img {
	width: 100%;
}

.zone {
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    transition: all 0.3s linear;
}

/* .zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow: #fec7d7 0px 5px 15px, inset #fec7d7 0px -10px 20px;
} */

/*###################################################*/
/*About*/
/*###################################################*/

body.about{
	background: url(about-cover.jpg) no-repeat center center fixed; 
	margin: 0 10vw;
	min-height: 100%;
    background-attachment: fixed; 
    background-size: cover;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto 1fr auto;
    align-items: center;
	justify-content: center;
	color: #fffffe;

}

h1.about{
	font-size: 2rem;
	color: #fffffe;
}
body.about nav {
	grid-column: 1/4;
}
body.about footer {
	grid-column: 1/4;
	grid-row: 3/4;
}

.button-back {
	border: none;
	background-color: transparent;
	font-family: inherit;
	padding: 0;
	cursor: pointer;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: #6246ea;
	color: #fffffe;
	border-radius: 8px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
	padding: 0.25em 0.75em;
	min-width: 10ch;
	min-height: 44px;
	transition: 220ms all ease-in-out;
  }
.button-back:hover {
	filter: brightness(1.2);
	text-decoration: none;
	color: #fffffe;
}

.container-about {
	grid-column: 2/3;
	justify-self: center;
}

footer{
	background: #fffffe;
	color: #2b2c34;
	text-align: center;
	font-size: 1.5rem;
}
footer:hover {
	color: #6246ea;
}

/*###################################################*/


@media only screen and (max-width: 1000px) {
	.navbar, .navbar-brand {
	  font-size: 4rem !important;
	}
	footer {
		font-size: 2rem !important;
	}

  }