/* https://www.happyhues.co/palettes/6 */
html{
	height: 100%;
	width: 100%;
	background-color: #fffffe;
}
body.wejscie{
	height: 100%;
	width: 100%;
	background: url(wejscie-cover.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	justify-self: center;
	align-self: center;
}
body.glowna{
	margin: 0 auto;
	min-height: 100%;
	width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1{
	color: #2b2c34;	
	font-size: 3rem;
}
h1.about{
	margin-left: 10vw;
	color: #2b2c34;	
	font-size: 2rem;
}
/*img:hover {
	transform: scale(1.1);
}*/
.col {
	background-color: gray;
	border: 2px solid black;
}
.btn {
	font-weight: 700;
	border-radius: 300px;
	border-color: #5D2971
}
.btn-xl {
	color: #fffffe ;
	border-color: #6246ea;
	background-color: #6246ea;
	padding: 1rem 4rem;
}
.btn-xl:hover {
	color: #6246ea;
	background-color:#d1d1e9;
	border-color: #d1d1e9;
}

hr {
	margin-top: -10px;
	border-color: #d1d1e9;
	border-width: 3px;
	max-width: 500px;
}

.glowna{
	background: none;
}
header.glowny-header {
	background: none;
}

section#blocks {
	background: #FFD1AA;
}
footer{
	background: #d1d1e9;
	text-align: center;
	font-size: 1.5rem;
}
footer:hover {
	color: #6246ea;
}
/*###################################################*/

/*NAVBAR*/
/*###################################################*/
header {
	background: #fffffe;
}
.main-nav {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 2.5vw;
}
header li {
	padding: 10px;
}

li a {
	color: #2b2c34;
	text-decoration: none;
}
li a:hover {
	color: #6246ea;
}
#contactright{
	margin-left: auto;
}

/*###################################################*/

/*Cover*/
/*###################################################*/

#cover{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 50vh;
	background: #fffffe;
	background: url(glowna-cover.jpg);
	background-repeat: no-repeat;
	background-position: center;

}


/*###################################################*/
/*Blocks*/
/*###################################################*/

.blocks {
	background: #fffffe;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
	grid-gap: 20px;

}
.block {
	background-color: #d1d1e9;
	padding: 30px;
	margin: 20px;
}
.block > img {
	width: 100%;
}

.zone {
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

/* .zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow: #fec7d7 0px 5px 15px, inset #fec7d7 0px -10px 20px;
} */

/*###################################################*/
/*About*/
/*###################################################*/

body.about {
	background: url(about-cover.jpg) no-repeat center center fixed; 
	width: 100%;
	min-height: 100%;
    background-attachment: fixed; 
    background-size: cover;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto 1fr auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
}
.container-about {
	grid-column: 2/3;
	grid-row: 2/3;
    width: 30rem;
    height: 20rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
    border-radius: 5px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

.container-about:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
}

body.about header {
	grid-column: 1/4;
}
body.about footer {
	grid-column: 1/4;
	grid-row: 3/4;
}

/*###################################################*/

/* Ankieta */

body.ankieta {
	background: url(about-cover.jpg); 
	height: 100%;
	width: 100%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: auto auto 1fr;
}

.ankieta-header {
	grid-column: 1/-1;
}
content {
	background-color: #bbb;
	grid-column: 2 / 3;
	
}

.ankieta-footer {
	grid-column: 1/-1;
	grid-row: 6/7;
}
